// src/css/base/_variables.scss

// Typography
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Colors
$night: #0b090aff;
$eerie-black: #161a1dff;
$blood-red: #660708ff;
$cornell-red: #a4161aff;
$cornell-red-2: #ba181bff;
$imperial-red: #e5383bff;
$silver: #b1a7a6ff;
$timberwolf: #d3d3d3ff;
$white-smoke: #f5f3f4ff;
$white: #ffffffff;

$text-color: $white-smoke;
$body-bg: $night;

// Layout
$container-width: 1200px;
$container-padding: 15px;
