// Header styles 
// css/layout/_header.scss
@use '../base/variables' as *;

.header {
  background-color: $eerie-black;
  padding: 1rem 0;
  // other header styles...
}
.header {
  background-color: $eerie-black;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $imperial-red;
  }

  .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

    li a {
      text-decoration: none;
      color: $white-smoke;
      transition: color 0.3s;

      &:hover {
        color: $imperial-red;
      }
    }
  }
}
